version: '3.7'
services:
  mongo_db:
    image: "mongo:4.4.3"
    restart: always
    ports:
      - 27017:27017
  camp-service:
    build: .
    restart: always
    container_name: campgladiator
    environment:
      -spring.data.mongodb.host: mongo_db
    depends_on:
      - mongo_db
    ports:
      - 8080:8080
